@import url(animations.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Night warrior";
    src: url(../assets/fonts/Nightwarrior.ttf);
}

@layer components{
    .bgtrans::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: .65;
    }
    .btn{
        @apply flex items-center text-red-50 mt-16 text-4xl bg-red-500 px-12 py-6 rounded-sm font-chakra cursor-pointer transition-all hover:bg-red-600 active:bg-red-700;
    }
    .menu-item{
        @apply cursor-pointer font-chakra w-[100%] max-w-[100%] transition-all hover:bg-menuHover active:bg-menuActive p-7;
    }
    .menu-item li{
        @apply ml-[20%] py-4 cursor-pointer hover:text-gray-400;
    }
}

@layer utilities{
    .no-opacity{
        background-clip: padding-box;/* isola o conteudo do fundo */
        position: relative;
        z-index: 1;
    }
    .enf{
       @apply text-red-500 font-semibold font-chakra; 
    }
    .none{
        display: none;
    }
    .span-item{
        @apply flex justify-between;
    }
}