@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Night warrior";
    src: url(../assets/fonts/Nightwarrior.ttf);
}

@layer components{
    .bgtrans::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
    }
}

